@font-face {
    font-family: 'geometriaregular';
    src: url('../fonts/geometria.woff2') format('woff2'),
         url('../fonts/geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometriaheavy';
    src: url('../fonts/geometria-heavy.woff2') format('woff2'),
         url('../fonts/geometria-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometriaheavy_italic';
    src: url('../fonts/geometria-heavyitalic.woff2') format('woff2'),
         url('../fonts/geometria-heavyitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometrialight';
    src: url('../fonts/geometria-light.woff2') format('woff2'),
         url('../fonts/geometria-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometrialight_italic';
    src: url('../fonts/geometria-lightitalic.woff2') format('woff2'),
         url('../fonts/geometria-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-body_width_1440 {
    position: relative;
    /*max-width: 1440px;*/
    width: 1440px;
    max-height: 800px;
    margin: 0;
    padding-top: 97px;
    /*
    padding-left: 80px;
    padding-right: 80px;
    */
}

.main-header {    
    font-family: 'geometrialight_italic', Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    line-height: 14.4px;        
}

.main-header__rotate {
    position: absolute;    
    top: 455px;
    left: 27px;
    color: #000000;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
    opacity: 0.4;
}

.letter-group1 {
    font-family: 'Philosopher', Arial, sans-serif;
    font-size: 23px;
    line-height: 25px;
    color: #000000;
}

.letter-group1__position {
    position: absolute;
    top: 35px;
    left: 35px;      
    /*margin-left: 35px;*/
}

.letter-group2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 35px;

    color: #ffffff;
    text-shadow: 2px 2px 0px black, 
                -2px -2px 0px black, 
                -2px 2px 0px black, 
                2px -2px 0px black;
}

.letter-group2__a,
.letter-group2__f,
.letter-group2__g {
    position: absolute;
}

.letter-group2__a {
    top: 60px;
    right: 400px;
}

.letter-group2__f {
    top: 160px;
    right: 235px;
}

.letter-group2__g {
    top: 100px;
    right: 250px;
    color: #f7e611;
}

.wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.ring-menu {
    position: absolute;
    top: 0;
    right: 0;

    width: 54px;
    height: 54px;
    
    background-image: url("../img/ring-menu.png");
    background-repeat: no-repeat;
}

.menu {
    position: absolute;
    top: 19px;
    right: 17px;

    cursor: pointer;
}

.conteiner-flex {
    display: flex;
    flex-direction: column;
    height: 95px;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    left: 140px;
}

.trapezium {
    position: absolute;
    top: 165px;
    left: 270px;
}

.layer-picture1 {    
    max-width: 800px;
    max-height: 525px; 
    background-color: rgba(247, 230, 17, 1); 
    overflow: hidden;  
    margin-bottom: 60px;
}

.picture1 {
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
/*
.layer-picture1::after {
    content: "
        <svg width="178" height="283">
            <polyline points="1,1 177,1 140,282 1,282 1,1" stroke="#000" stroke-width="1"/>
        </svg>
    ";
    position: absolute;
}
*/
.layer-picture2 {
    position: absolute;
    top: 87px;
    left: 420px;

    max-width: 860px;
    max-height: 490px; 
    background-color: rgba(247, 230, 17, 1);   
}

.picture2 {
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.layer-picture2::before {
    content: "51";
    position: absolute;
    top: -55px;
    left: 60px;

    font-family: 'geometriaheavy', Arival, sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

    opacity: 0.5;
    transform: rotate(-90deg);    
}

.slider {
    margin: 0;
    padding: 0;
    width: 214px;
    height: 383px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    position: absolute;
    top: 130px;
    right: 158px;    
}

.slider__background {
    width: 138px;
    height: 100%;
    background-color: #f7e611;

    position: relative;
}

.slider__link {
    opacity: 0.4;
    margin-bottom: 120px;
}

.slider__number {
    font-family: 'geometriaheavy_italic', Arial, sans-serif;
}

.top-number {
    font-size: 45px;
    line-height: 54px;
    color: #000000;

    position: absolute;
    left: 23px;
    bottom: 41px;
}

.bottom-number {
    font-size: 17px;
    line-height: 20.5px;
    color: #000000;

    position: absolute;
    left: 77px;
    bottom: 23px;
}

.bottom-number::before {
    content: '';
    position: absolute;   
    bottom: 36px;
    width: 17px;
    border-top: 3px solid #000000;    
}

.region {
    font-family: 'geometriaregular', Arial, sans-serif;
    font-size: 17px;
    line-height: 21px;    
    text-transform: uppercase;
    width: 50px;
    padding: 27px 23px;
    border: 1px solid black;
    border-radius: 50%;
    color: #ffffff;

    position: absolute;
    top: 118px;
    left: 505px;
    margin: 0;
}

.mytitle {
    font-family: 'Philosopher', Arial, sans-serif;
    font-size: 140px;
    line-height: 168px;
    text-transform: uppercase;

    position: absolute;
    top: 215px;
    left: 143px;

    margin: 0;
    letter-spacing: 48px;
    color: #ffffff;
}

.tagline {
    font-family: 'Philosopher', Arial, sans-serif;
    font-size: 9px;
    line-height: 11px;
}

.tagline_directions_left-top {
    position: absolute;
    top: 430px;
    left: 245px;
    
    text-transform: lowercase;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    opacity: 0.5;
}

.wrapper-letters {
    display: flex;
    justify-content: space-between;
}

.middle-icon {
    position: relative;
    width: 212px;
    height: 10px;
    background-color: #f7e611;
}

.middle-icon::before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 212px;
    height: 112px;
    background-image: url('../img/ring.png');
    background-repeat: no-repeat;
}