@font-face {
    font-family: 'geometriaregular';
    src: url('../fonts/geometria.woff2') format('woff2'),
         url('../fonts/geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometriaheavy';
    src: url('../fonts/geometria-heavy.woff2') format('woff2'),
         url('../fonts/geometria-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometriaheavy_italic';
    src: url('../fonts/geometria-heavyitalic.woff2') format('woff2'),
         url('../fonts/geometria-heavyitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometrialight';
    src: url('../fonts/geometria-light.woff2') format('woff2'),
         url('../fonts/geometria-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometrialight_italic';
    src: url('../fonts/geometria-lightitalic.woff2') format('woff2'),
         url('../fonts/geometria-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-body_width_1440 {
    position: relative;
    /*max-width: 1440px;*/
    width: 1440px;
    max-height: 800px;
    margin: 0;
    padding-top: 97px;
    background: linear-gradient(to left, #ffffff 0%,#ffffff 43%,#e7e7e7 43%,#fefefe 100%);
}

.main-body_width_1440::before {
    content: '';
    position: absolute;
    bottom: -63px;
    left: 0;
    width: 118px;
    height: 180px;
    background: linear-gradient(to left, #f2f2f2 0%, #f4f4f4 20%, #fefefe 60%);
}

.main-header {    
    font-family: 'geometrialight_italic', Arial, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 14.4px;        
}

.main-header__rotate {
    position: absolute;    
    top: 431px;
    left: 36px;
    color: #000000;
    text-transform: lowercase;
    letter-spacing: 0.7px;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
    opacity: 0.4;
}

.letter-group1 {
    font-family: 'Philosopher', Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    color: #000000;
}

.letter-group1__position {
    position: absolute;
    top: 29px;
    left: 35px;      
    /*margin-left: 35px;*/
}

.letter-group2 {
    font-family: 'geometriaregular', Arial, sans-serif;
    font-size: 81px;
    line-height: 81px;
    -webkit-text-stroke: 2px #000000;
    color: transparent;
    /*
    text-shadow: 1px 1px 0px black, 
                -1px -1px 0px black, 
                -1px 1px 0px black, 
                1px -1px 0px black;
    */
}

.letter-group2__a,
.letter-group2__e,
.letter-group2__g {
    position: absolute;
}

.letter-group2__a {
    top: 49px;
    right: 398px;
}

.letter-group2__e {
    top: 132px;
    right: 236px;
}

.letter-group2__g {
    top: 115px;
    right: 232px;
}

.wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.ring-menu {
    position: absolute;
    top: 0;
    right: 0;

    width: 54px;
    height: 54px;
    
    background-image: url("../img/ring-menu.png");
    background-repeat: no-repeat;
}

.menu {
    position: absolute;
    top: 21px;
    right: 17px;

    cursor: pointer;
}

.conteiner-flex {
    display: flex;
    flex-direction: column;
    height: 97px;
    justify-content: space-between;
    position: absolute;
    top: 68px;
    left: 143px;
    letter-spacing: -1px;
}

.trapezium {
    position: absolute;
    top: 168px;
    left: 268px;
}

.layer-picture1 {    
    max-width: 800px;
    max-height: 525px; 
    background-color: rgba(247, 230, 17, 1); 
    overflow: hidden;  
    margin-bottom: 84px;
}

.picture1 {
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
/*
.layer-picture1::after {
    content: "
        <svg width="178" height="283">
            <polyline points="1,1 177,1 140,282 1,282 1,1" stroke="#000" stroke-width="1"/>
        </svg>
    ";
    position: absolute;
}
*/
.layer-picture2 {
    position: absolute;
    top: 87px;
    left: 420px;

    max-width: 860px;
    max-height: 490px; 
    background-color: rgba(247, 230, 17, 1);   
}

.picture2 {
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.layer-picture2::before {
    content: "51";
    position: absolute;
    top: -57px;
    left: 61px;

    font-family: 'geometriaheavy', Arival, sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

    opacity: 0.5;
    transform: rotate(-90deg); 
    letter-spacing: 1px;   
}

.slider {
    margin: 0;
    padding: 0;
    width: 214px;
    height: 383px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: absolute;
    top: 159px;
    right: 160px;    
}

.slider__background {
    width: 138px;
    height: 100%;
    background-color: #f7e611;

    position: relative;
}

.slider__link {
    opacity: 0.4;
    margin-bottom: 120px;
}

.slider__number {
    font-family: 'geometriaheavy_italic', Arial, sans-serif;
}

.top-number {
    font-size: 45px;
    line-height: 54px;
    color: #000000;

    position: absolute;
    left: 20px;
    bottom: 28px;
    letter-spacing: 5px;
}

.bottom-number {
    font-size: 18px;
    line-height: 20.5px;
    color: #000000;

    position: absolute;
    left: 74px;
    bottom: 18px;
}

.bottom-number::before {
    content: '';
    position: absolute;
    left: 2px;   
    bottom: 25px;
    width: 17px;
    border-top: 4px solid #000000;    
}

.region {
    font-family: 'geometriaregular', Arial, sans-serif;
    font-size: 19px;
    line-height: 21px;    
    text-transform: uppercase;
    width: 53px;
    height: 45px;
    padding: 27px 23px;
    border: 1px solid black;
    border-radius: 50%;
    color: #ffffff;

    position: absolute;
    top: 118px;
    left: 505px;
    margin: 0;
}

.mytitle {
    font-family: 'Philosopher', Arial, sans-serif;
    font-size: 136px;
    line-height: 168px;
    font-weight: lighter;
    text-transform: uppercase;

    position: absolute;
    top: 215px;
    left: 143px;

    margin: 0;
    letter-spacing: 53px;
    color: #ffffff;
}

.tagline {
    font-family: 'Philosopher', Arial, sans-serif;
    font-size: 9px;
    line-height: 11px;
}

.tagline_directions_left-top {
    position: absolute;
    top: 426px;
    left: 242px;
    
    text-transform: lowercase;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    opacity: 0.5;
}

.wrapper-letters {
    display: flex;
    /*justify-content: space-between;*/
    padding-left: 110px;
}

.letters-1,
.letters-2 {
    position: relative;
}

.letters-1 {
    width: 424px;
}

.letters-1__triangle-1 {
    position: absolute;
    top: -29px;
}

.middle-icon {
    position: relative;
    width: 212px;
    height: 10px;
    background-color: #f7e611;
    margin-right: 124px;
}

.middle-icon::before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 212px;
    height: 112px;
    background-image: url('../img/ring.png');
    background-repeat: no-repeat;
}

.letters {
    font-family: 'Philosopher', Arial, sans-serif;
    font-size: 25px;
    line-height: 30px;
}

.letters-1__a {
    position: absolute;
    top: 18px;
    left: 77px;
}

.letters-1__f1 {
    position: absolute;
    top: -18px;
    left: 142px;
}

.letters-1__f2 {
    position: absolute;
    top: 27px;
    left: 206px;
}

.letters-1__i {
    position: absolute;
    left: 265px;
}

.letters-1__triangle-2 {
    position: absolute;
    top: 59px;
    left: 261px;
}

.letters-1__n {
    position: absolute;
    top: 39px;
    left: 331px;
}

.letters-2 {
    margin-right: 318px;
}

.letters-2__a {
    position: absolute;
    top: -4px;
    left: -20px;
}

.letters-2__triangle-1 {
    position: absolute;
    top: 32px;
    left: 14px;
}

.letters-2__g {
    position: absolute;
    top: 4px;
    left: 82px;
    /*text-shadow: -2px 1px 0 #b9b9b9;*/
}

.letters-2__g::before {
    content: '';
    background-image: url(../img/background-g.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 7px;
    left: -5px;
}

.letters-2__e {
    position: absolute;
    top: 31px;
    left: 193px;
}

.letters-2__triangle-2 {
    position: absolute;
    top: 13px;
    left: 250px;
}